<html>
	<head>
	 <title>index</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 <style>
		body{
			margin: 10px;
		}
		.block{
			text-align: center;
		}
		#instruction{
			text-align: left;
			margin-left: 20px;
		}
		#logo{
			width: 200px;
		}
		#loginform{
			display:inline-block;
		}
	 </style>
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <a class="navbar-brand" href="#">Plant Management System</a>
		      </div>
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home</a></li>
						<li><a href="/login">Login</a></li>
		        <li><a href="/users/new">Create New Plants</a></li>
		        <li><a href="/users/all">Display All Plants</a></li>
		        <li><a href="/users/getArchived">Archived Plants</a></li>
		        <li><a href="/users/showSnapshot">Snapshot</a></li>
		        <li><a href="/users/signup">Signup</a></li>
		      </ul>
		    </div>
		</nav>

<!-- add flash messages here from login/registration checking for Global Vars: success_msg, error_msg, error-->
		<div class = "block">
			<h3>Welcome to Plant Management System</h3>
			<img id = "logo" src="/img/logo.png" alt="Taylor Family Foundation">
			<div id = "instruction">
				<h4>This site will allow you to log in and edit the Taylor Family Foundation Plant app</h4>
				<ol>
					<li><p>Please click Login at the top</p></li>
					<li><p>Must be logged in to continue</p></li>
					</ol>






			</div>
		</div>

	</body>
</html>
