LOGIN

<form method = "post" action = "/login">
  <label>Username</label><br>
  <input type="text" placeholder="Username"><br>
  <label>Password</label><br>
  <input type="password" placeholder="Password"><br>
  <button type = "submit">Login</button>
</form>
